.right-button-box{
    width: 180px;
    height: 120px;
    background: red;
    position: fixed;
    z-index: 20;
    right: 0; 
    bottom: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.button{
    border:none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
   color: rgb(238, 56, 56) ;
}
.right-shop-box{
    height: 1000px;
    width: 400px;
    background-color: #fff;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 1000;
    transition: all .2s;
}
.right-shop-box-true{
    right: 0;
}
